* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.mp4 binary
*.webm binary
*.exe binary
medya/medya.json linguist-generated=true
yayin/*.exe filter=lfs diff=lfs merge=lfs -text
yayin/*.dat filter=lfs diff=lfs merge=lfs -text
